<mat-toolbar color="primary">
  <span>{{title}}</span>
</mat-toolbar>

<mat-tab-group [selectedIndex]="selectedTabIndex">
  <mat-tab label="Formulario">
    <div class="content">
      <mat-form-field>
        <input matInput placeholder="Nombre(s)" value="">
      </mat-form-field>
    
      <mat-form-field>
        <input matInput placeholder="Apellidos" value="">
      </mat-form-field>
    
      <mat-form-field>
        <mat-label>Estado civil</mat-label>
        <mat-select [(value)]="data.civilState">
          <mat-option *ngFor="let state of civilStates" [value]="state">
            {{state}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    
      <mat-form-field>
        <input matInput placeholder="CUI" [textMask]="{mask: mask}" [(value)]="data.cui" type="text"/>
      </mat-form-field>
    
      <button mat-flat-button color="accent">Subir</button>
    </div>
  </mat-tab>

  <mat-tab label="Listado">
    <div class="content">
      <mat-action-list>
        <button *ngFor="let user of allUsers" mat-list-item>{{user.data.name}} {{user.data.lastname}} - {{user.data.CUI}}</button>
      </mat-action-list>
    </div>
  </mat-tab>
</mat-tab-group>